<div class="grey lighten-4">
  <div class="container min-vh-100 pt-5">
    <div class="card z-depth-2">
      <div class="card-content">
        <span class="card-title bold-title">Minha Lista de Tarefas</span>
      </div>
      <ul class="collection">
        <li class="collection-item" *ngFor="let task of tasks">
          <div class="row valign-wrapper" style="margin-bottom: 0;">
            <div class="col s10">
              <label>
                <input type="checkbox" (change)="toggleTask(task)" [checked]="task.done" />
                <span [ngClass]="{ 'done': task.done }">{{ task.title }}</span>
              </label>
            </div>
            <div class="col s2 right-align">
              <div class="btn waves-effect waves-light btn-small red" (click)="deleteTask(task.id)">Excluir</div>
            </div>
          </div>
        </li>
      </ul>
      <div class="card-content">
        <div class="row">
          <div class="input-field col s12 m10">
            <input type="text" id="new-task" placeholder="Adicione uma nova tarefa" [(ngModel)]="newTask"
              name="newTask" />
          </div>
          <div class="input-field col s12 m2 right-align">
            <div class="btn waves-effect waves-light w-100" (click)="save()">Adicionar</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>